<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600'>
    <link rel='stylesheet' href='https://pennypixels.pennymacusa.com/css/1_4_1/pp.css'>
    <title> <%= title %> </title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .User-img {
        width: 40px;
        height: 40px;
    }

    .add-User-form {
        margin-top: 50px;
    }
</style>
<body>
<div class="page-wrapper">
    <header class="bg-light text-center" style="padding:10px; font-size: 30px;">VistaRoom Enquiry Form</header>